
.head {
	padding: 20px 10px;
}

h1 {
  display: inline-block;
  font-size: 40px;
  margin: 10px 0 0 15px;
}

.imgContainer > img{
  height: 50px;
  float: left;
}

.list {
	margin: 70px 0 0 60px
}

.item {
	width: 670px;
	margin-bottom: 60px;
}

.item > img {
  height: 100px;
  float: left;
}

.item > p {
	
	margin: 0;
	padding: 0;
}







