body {
  margin: 0;
  padding: 0;

}
.container {
  
  padding: 20px;
}

div p {
  text-align: center;
  font-size: 30px;
  font-family: Padauk;
  padding: 2px 0;
  margin: 0;
  color: #555;
  width: inherit;
}

img {
  height: 200px;
  border-radius: 50%;
}

p:hover {
  cursor: pointer;
  padding: 0;
  font-size: 32px;
  color: #9f5858;
}

.container div:nth-child(1){
  margin-left: 540px;
  padding: 0;
}

.container div:nth-child(1) p{
  width: 200px;
}

.container div:nth-child(1) p:hover {
  padding: 1px 0 0 0;
}

.container div:nth-child(2){
  display: inline-block;
  margin: 50px 0 0 250px;
}

.container div:nth-child(3){
  display: inline-block;
  margin: 50px 0 0 400px;
}



